@font-face {
    font-family: "SUIT-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("./SUIT-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SUIT-Light";
    font-style: normal;
    font-weight: normal;
    src: url("./SUIT-Light.ttf") format("truetype");
}

@font-face {
    font-family: "SUIT-ExtraBold";
    font-style: normal;
    font-weight: normal;
    src: url("./SUIT-ExtraBold.ttf") format("truetype");
}