.auth {
    margin: 5rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 25rem;
    height: 3rem;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.auth div{
    width: 10rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}
.auth a {
    border: none;
    color: #E5D500;
    text-decoration-line: none;
}