.page-box{
    display:flex;
    flex-direction: row;

}
.menu-bar{
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right:12px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:100vh;
    border-right: 1px solid rgb(219,219,219);
}
.main-icon{
    margin-top:4px;
    margin-bottom:4px;
    padding: 12px;
}

.menu-bar button{
    border:none;
    background:none;
    font-size:100%;
    text-align: start;
}

.main-icon button:hover{
    transform: scale(1.2);
}


.menu-icon {
    display:flex;
    flex-direction:row;
}

.menu-icon button{
    display:flex;
    flex-direction:row;
    margin-top:4px;
    margin-bottom:4px;
    padding: 12px;
    width:200px;
    border-radius: 8px;
}

.menu-icon button:hover{
    background-color: #EFEFEF;
}

.menu-icon button *{
    height:24px;
    width: 24px;
}

.menu-icon button div{
    padding-left:12px;
    width:5em;
    text-align:start;
    font-size:16px;
}


.more-icon button{
    display:flex;
    flex-direction:row;
    margin-top:4px;
    margin-bottom:4px;
    padding: 12px;
    width:200px;
    border-radius: 8px;
}

.more-icon button:hover{
    background-color: #EFEFEF;
}

.more-icon button div{
    padding-left:12px;
    width: 5em;
    text-align:start;
    font-size:16px;
}
.more-icon button *{
    height:24px;
    width: 24px;
}

